
import(graphics)
import(stats)
import(lme4)
import(sp)
import(sf)
import(fasterize)
importFrom("methods", "as")
importFrom("raster","raster","rasterToPoints","extent")
importFrom("grDevices", "grey","gray", "rainbow")
importFrom("grDevices", "palette")
import(ggplot2)
import(ggforce)
import(reshape2)

S3method(print, siland)
S3method(summary, siland)
S3method(AIC, siland)
S3method(BIC, siland)
S3method(fitted, siland)
S3method(residuals, siland)
S3method(plot, siland)
export(summary.siland)
export(print.siland)
export(AIC.siland)
export(BIC.siland)
export(fitted.siland)
export(residuals.siland)
export(plot.siland)
export(siland)
export(plotsiland)
export(plotsiland.land)
export(plotsiland.sif)
export(siland.quantile)
export(siland.lik)
export(landtoraster)
export(bufferforsiland)
#export(calcdist)




